<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__PUBLIC__/css/normalize.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/general.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/index.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css"/>
		
		
	</head>
	<body>
		<div id="top-bar">
			<div class="wrap">
				<div class="top-bar-left">   
            <span class="logo"><a>Mr.Pan</a></span>        

        </div>
				<div class="top-bar-right">
					<?php  if (isLogin()) { ?>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <?php echo session("user_name");?><b class="caret"></b></a>
							<ul class="dropdown-menu">
		                           <li><a href="<?php  echo U('Admin/manageUser') ?>"><i class="glyphicon glyphicon-cog"></i> 用户管理</a></li>
                            <li><a href="<?php  echo U('Admin/manageComment') ?>"><i class="glyphicon glyphicon-cog"></i> 评论管理</a>
                            <li><a href="<?php  echo U('Admin/showInfo') ?>"><i class="glyphicon glyphicon-cog"></i> 个人资料</a></li>
		                  	</ul>
						</li>
						<li>
							<a href="<?php echo U('Home/User/logout')?>" class="logout"><i class="glyphicon glyphicon-off"></i> 注销</a>
						</li>
					</ul>
					<?php }  else { ?>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="<?php echo U('Home/User/login')?>" class="logout"><i class="glyphicon glyphicon-off"></i> 登陆</a>
							</li>
						</ul>		
					<?php } ?>
				</div>
			</div>
		</div>


		<div class="wrap" id="main">
			<form class="form-horizontal" method="post" id="userform" action="<?php  echo U('Admin/updateInfo')?>">

			   	<div class="form-group">
			   	<label for="user_email" class="col-sm-2 control-label"> <span class="need">*</span>用户名：</label>
			      	<div class="col-sm-3">
			         	<input type="text" class="form-control" name="user_name"  value="<?php echo $userdata['user_name'];?>" id="user_name">
			      	</div>  	
			   	</div>

			   	<div class="form-group">
			      	<label for="user_pwd" class="col-sm-2 control-label"><span class="need">*</span>密码：</label>
			      	<div class="col-sm-3">
			         	<input type="text" class="form-control" name="user_pwd"  value="<?php echo $userdata['user_pwd'];?>" id="user_pwd">
			      	</div>
			   	</div>

			   	<div class="form-group">
			      	<label for="user_address" class="col-sm-2 control-label"><span class="need">*</span>电子邮箱</label>
			      	<div class="col-sm-3">
			         	<input type="text" class="form-control" name="user_email"  value="<?php echo $userdata['user_email'];?>" id="user_email">
			      	</div>
			    </div>

			    <div class="form-group">
			      	<div class="col-sm-offset-2 col-sm-10">
			         	<button type="submit" class="btn btn-info">确定</button>
			         	 <a href="<?php echo U('Admin/showInfo'); ?>"<button  class="btn btn-default">返回</button> </a>
			     	</div>     	
			   	</div>

			</form> 
		</div>		

		<script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/bootstrap-dropdown.js"></script>
	</body>
</html>