body {
  background-color:#0078d8; 
}

.wrapper {
    width: 100%;
}

.center-wrapper {
    margin: 0 auto;
    width: 740px;
}

.form-wrapper {
    position: absolute;
    top: 50%;
    height: 300px;
    margin-top: -150px;
}

.logo {
    float:left;
    width:400px;
    color: white;
    font-size: 55px;
}

.sign {
    width:400px;
    height:100%;
    float:right;
    color: white;
}

.sign input, button {
  color:black;
}

#signup {
    display: none;
}
