<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
</head>
<body>
  <div id="main">
    <div id="feeds">
    </div>
  </div>
</body>
<script type="text/javascript">
  var baseurl = "<?php echo U('Home/Controller/IndexController'); ?>";
</script>
<script  type="text/javascript" src="__PUBLIC__/js/JSON.js"></script>
<script  type="text/javascript" src="__PUBLIC__/js/general.js"></script>
<script  type="text/javascript" src="__PUBLIC__/js/index.js"></script>
</html>
